{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}" />
{% endblock %}

{% block content %}
<div class="page-header">
  {% if form.instance.pk %}
    <h1>Edit {{ form.instance.name }}</h1>
  {% else %}
    <h1>Add a To-Do</h1>
  {% endif %}
</div>

<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <h2>SubTasks</h2>
  <table>
    {{ subtasks.management_form }}
    {% for form in subtasks %}
      {{ form.as_table }}
    {% endfor %}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>
{% endblock %}
