/* static/css/base.css */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: flex;
  flex-direction: row;
  margin: 10px; 
  align-items: flex-end;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; 
  align-items: flex-end; 
}

header nav ul li {
  margin: 10px 10px; 
}

header nav ul li a,
header nav ul li button {
  display: block;
  padding: 10px 15px;
  background-color: #ffeb3b; 
  border: 2px solid #d4d4d4; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  text-decoration: none;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive; 
  color: #333; 
  transition: transform 0.2s;
  cursor: pointer; 
  text-align: right; 
}

header nav ul li a:hover,
header nav ul li button:hover {
  transform: rotate(-18deg);
}
